<!DOCTYPE html>
<html>
<head>
    <script
        src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.2.4/jquery.min.js">
    </script>
    <title>SignUp Form</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
    <!-- Custom Theme files -->
    <link href="css/style.css" rel="stylesheet" type="text/css" media="all" />
    <!-- //Custom Theme files -->
    <!-- web font -->
    <link href="//fonts.googleapis.com/css?family=Roboto:300,300i,400,400i,700,700i" rel="stylesheet">
    <!-- //web font -->
</head>
<body>
<!-- main -->
<div class="main-w3layouts wrapper">
    <h1>SignUp Form</h1>
    <div class="main-agileinfo">
        <div class="agileits-top">
            <form action="#" method="post">
                <input id="name" class="text" type="text" name="Name" placeholder="Name" required="">
                <input id="age" class="text" type="text" name="age" placeholder="Age" required="">
                <input id="email" class="text email" type="email" name="email" placeholder="Email" required="">
                <input id="phone" class="text" type="text" name="phone" placeholder="phone" required="">
                <input id="gender" class="text" type="text" name="gender" placeholder="gender" required="">
                <input id = "password" class="text" type="password" name="password" placeholder="Password" required="">
                <input class="text w3lpass" type="password" name="password" placeholder="Confirm Password" required="">
                <div class="wthree-text">
                    <label class="anim">
                        <input type="checkbox" class="checkbox" required="">
                        <span>I Agree To The Terms & Conditions</span>
                    </label>
                    <div class="clear"> </div>
                </div>
                <button type="submit" value="SIGNUP">SignUp</button>
            </form>
            <p>Already have an Account? <a href="#"> Login Now!</a></p>
        </div>
    </div>

    <script>
        var obj = {};
        function sendUser(){
          obj.name = $('#name').val();
          obj.age = $('#age').val();
          obj.email = $('#email').val();
          obj.phone = $('#phone').val();
          obj.gender = $('#gender').val();
        }

   function sendUserAjax(){
    $.ajax({
    url: 'http://localhost:8080/hackathon/api/user',
    type: 'POST',
    data: JSON.stringify(obj),
    dataType:'json',
    mode: "cors" ,
    async: true,
    contentType: 'application/json',
    success: successCallback,
    error: errorCallback
    });
   }

    $('button').click(function(){
        sendUser();
        sendUserAjax();
    })

     function successCallback(result){
        alert("HEHEHHE");
        redirect();
    }

    function errorCallback(result){
        alert("Tou have successfully signed up!");
        redirect();
    }

    function redirect(){
        window.location.replace('./index.html');
    }
    </script>


    <!-- copyright -->
    <div class="colorlibcopy-agile">
        <p>© 2020 Not Just Another Girl. All rights reserved</p>
    </div>
    <!-- //copyright -->
    <ul class="colorlib-bubbles">
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
    </ul>
</div>
<!-- //main -->
</body>
</html>