<!DOCTYPE html>
<html>
<head>

    <script
        src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.2.4/jquery.min.js">
    </script>
   
   <title>Login Form</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
    <!-- Custom Theme files -->
    <link href="css/style.css" rel="stylesheet" type="text/css" media="all" />
    <!-- //Custom Theme files -->
    <!-- web font -->
    <link href="//fonts.googleapis.com/css?family=Roboto:300,300i,400,400i,700,700i" rel="stylesheet">
    <!-- //web font -->
</head>
<body>
<!-- main -->
<div class="main-w3layouts wrapper">
    <h1>Login</h1>
    <div class="main-agileinfo">
        <div class="agileits-top">
            <form action="#" method="post">
                <input id="email" class="text" type="text" name="Email" placeholder="Email" required="">
                <input id="password" class="text" type="text" name="Password" placeholder="Password" required="">



            </form>
            <div class="wthree-text">
                <div class="clear"> </div>
            </div>
            <button class="btn btn-primary" type="submit">SignIn</button>
            </form>
        </div>
    </div>

    <script>
    
        var signin = {};
        function getUser(){
            signin.email = $('#email').val();
        }
        
        function getUserAjax(){
            
            $.ajax({
    url: 'http://localhost:8080/hackathon/api/user/signin',
    data: signin,
    dataType: 'text',
    mode: "cors",
    async: true,
    contentType: 'application/json; charset=utf-8',
    success: successCallback,
    error: errorCallback

    });
        }

        $('button').click(function(){
        getUser();
        getUserAjax();
    })
    
        function successCallback(result){
           
            localStorage.id = JSON.parse(result).id;
            alert(localStorage.id);
            redirect();

        }

        function errorCallback (result, a, b){
            console.log('result: ' + result)
            alert("deumerda");
            console.log('textStatus: ' + a + ' errorThrown: ' + b);
            
        }

        function redirect(){
        window.location.replace('./index.html');
    }
    </script>

    <!-- copyright -->
    <div class="colorlibcopy-agile">
        <p>© 2020 Not Just Another Girl. All rights reserved</p>
    </div>
</div>
<!-- //main -->
</body>
</html>